.upload-input {
  display: none;
}

.paper-header {
  display: flex;
  align-items: center;
  height: 46px;
}

.upload-label,
.upload-file-btn,
.remove-uploaded {
  font-size: 18px;
  width: 125px;
  height: 46px;
  line-height: 46px;
  border: none;
  outline: none;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.upload-label:hover,
.upload-file-btn:hover,
.remove-uploaded:hover {
  cursor: pointer;
}

.upload-label:focus,
.upload-file-btn:focus,
.remove-uploaded:focus {
  outline: none;
  border: none;
}

.remove-uploaded {
  width: 30px;
  height: 30px;
  color: white;
  font-size: 18px;
  line-height: 30px;
  background-color: rgb(255, 45, 45);
  margin-left: 10px;
}

.remove-uploaded:active {
  background-color: crimson;
}

.upload-label {
  margin-left: 50px;
  background-color: rgb(50, 115, 255);
  color: white;
}

.upload-label:active {
  background-color: rgb(38, 88, 195);
  border: none;
  outline: none;
}

.upload-file-btn {
  background-color: rgb(0, 189, 72);
  color: white;
  margin-left: 10px;
}

.upload-file-btn:active {
  background-color: rgb(0, 144, 55);
  border: none;
  outline: none;
}

.upload-file-name {
  font-size: 18px;
  line-height: 46px;
  height: 46px;
  font-style: italic;
  margin-left: 50px;
}

.activated {
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
}

.paper-wrapper {
  margin-top: 20px;
  max-height: 700px;
  overflow-x: auto;
  overflow-y: auto;
}

.paper-layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.52);
}

.paper-layout:hover {
  cursor: pointer;
}

.disabled {
  display: none;
}

.search-label {
  font-size: 16px;
  font-style: italic;
  line-height: 46px;
  height: 46px;
}

.search-paper {
  font-size: 16px;
  height: 46px;
  width: 200px;
  border: none;
  outline: none;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.search-paper:focus {
  border: 2px solid orange;
  box-shadow: 0px 4px 4px rgba(255, 81, 0, 0.25);
}
