.paper-buttons {
  display: flex;
}

.paper-buttons button,
.paper-buttons a {
  margin-left: 10px;
  font-size: 15px;
  width: 80px;
  height: 46px;
  line-height: 46px;
  border: none;
  outline: none;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.remove-btn {
  background-color: rgb(255, 84, 84);
  color: white;
}

.remove-btn:active {
  background-color: crimson;
}

.extract-btn {
  background-color: rgb(224, 165, 14);
  color: white;
}

.extract-btn:active {
  background-color: rgb(184, 135, 12);
}

.download-paper-btn {
  background-color: rgb(71, 114, 255);
  color: white;
}

.download-paper-btn:hover {
  color: white;
}

.download-paper-btn:active {
  background-color: rgb(0, 60, 255);
}
