.table-wrapper {
  overflow-x: auto;
}

.buttons {
  display: flex;
  width: 100%;
}

.button-big {
  height: 46px;
  font-size: 18px;
  text-decoration: none;
  border: none;
  outline: none;
  background-color: rgb(152, 240, 122);
  color: black;
  text-align: center;
  line-height: 26px;
  vertical-align: middle;
  padding: 0;
  padding: 10px;
  box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
}

.button-big:active {
  background-color: lightgray;
}

.button-big:hover {
  color: black;
}

.table-wrapper {
  margin-top: 20px;
}

.select-param {
  margin-left: 20px;
  margin-top: 3px;
}

.search {
  border: none;
  outline: none;
  font-size: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 1px;
  height: 38px;
  margin-top: 5px;
}

.warning {
  font-size: 32px;
  text-align: center;
  margin-top: 140px;
  font-weight: bold;
}
