.heading {
    position: absolute;
    top: 25px;
    left: 40%;
}
  
.button {
    position: absolute;
    top: 50px;
}
  
.users {
    position: fixed;
    top: 50px;
    left: 40%;
}
  
.usersTable {
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
.usersTable td,
.usersTable th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
.usersTable tr:nth-child(even) {
    background-color: #f2f2f2;
}
  
.usersTable tr:hover {
    background-color: #ddd;
}
  
.usersTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4caf50;
    color: white;
}